<div class="form">

 <%= form_with url: "/flights", method: :get do |form| %>
  From:<%= form.select( :from_airport, Airport.all.map { |a| a.airport_code }) %>
  To:<%= form.select( :to_airport, Airport.all.map { |a| a.airport_code }) %>
  Passengers:<%= form.select( :passengers, (1..4).to_a ) %>
  Date:<%= form.select(:date, Flight.all.map { |a| a.schedule}.uniq ) %>
  <%= form.submit "Search" %>
 <% end %>


</div>

<br>
<!--
<div class="form">
  From:<%= select(:flight, :from_airport, Airport.all.map { |a| a.airport_code }, { include_blank: true }) %>
  To:<%= select(:flight, :to_airport, Airport.all.map { |a| a.airport_code }, { include_blank: true }) %>
  No. of Passengers:<%= select(:flight, :booking, (1..4).to_a , { include_blank: true }) %>
  Date:<%= date_select(:flight, :schedule , order: [:day, :month, :year]) %>
</div>
-->