<h1>Search flight:</h1>
  <%= render 'form' %>
<br>
<h1>Flights (<%= @results.count %>)</h1>
<div class="field">
<%= form_with url: '/bookings/new', method: :get do |f| %>
  <% @results.each do |r| %>
     Flight no.<%= r.id %>
     <%= f.radio_button(:flight, r.id ) %>
     <%= f.hidden_field :tickets, value: params[:passengers] %>
     <br>
  <% end %>
  <br>
  <%= f.submit "book now" %>
<% end %>
</div>