<h1>Search flight:</h1>
  <%= render 'form' %>
<br>
<h1>Flights (<%= @results.count %>)</h1>
<div class="field">
<%= form_with do |f| %>
  <% @results.each do |r| %>
     Flight no.<%= r.id %>
     <%= radio_button(:book, :flight, r.id ) %>
     <br>
  <% end %>
  <br>
  <%= f.submit "book now" %>
<% end %>
</div>